<ngx-spinner [fullScreen]="false" type="ball-scale-pulse" size="medium" name="userSpinner" class="cr-spinner">
  <p>Changing Password</p>
</ngx-spinner>
<h2 mat-dialog-title class="mat-text-primary">Change Password</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Enter current password</mat-label>
      <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" required minlength="8"
             formControlName="current_password">
      <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['current_password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['current_password'].hasError('minlength')">
        Password should be <b>8 characters</b> long
      </mat-error>
      <mat-error *ngIf="form.controls['current_password'].hasError('serverError')">
        {{ form.controls['current_password'].getError('serverError').join(",") | titlecase }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter new password</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" required minlength="8"
             formControlName="new_password">
      <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['new_password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['new_password'].hasError('minlength')">
        Password should be <b>8 characters</b> long
      </mat-error>
      <mat-error *ngIf="form.controls['new_password'].hasError('serverError')">
        {{ form.controls['new_password'].getError('serverError').join(",") | titlecase }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Re-enter new password</mat-label>
      <input matInput type="password" required minlength="8" formControlName="confirm_password">
      <mat-error *ngIf="form.controls['confirm_password'].hasError('required')">
        Confirm Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['confirm_password'].hasError('mismatch')">
        Password does not match with new password
      </mat-error>
    </mat-form-field>
  </form>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCloseDialog()">Close</button>
  <button mat-flat-button (click)="onChangePassword()" cdkFocusInitial color="primary">Change Password</button>
</div>
