<div *ngIf="progressSpinner; else mainContent">
  <mat-spinner color="accent" diameter="50"></mat-spinner>
  <div style="margin-top: 8px">Loading</div>
</div>
<ng-template #mainContent>
  <h2 mat-dialog-title class="mat-text-primary">User Activities: {{ user.username }}</h2>
  <div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Login Activities" *ngIf="enableLA">
        <table class="table table-hover table-striped">
          <tr><th>#</th><th>Login IP</th><th>Login Device</th><th>Channel</th><th>Login ?</th><th>Time</th></tr>
          <tr *ngIf="loginActivities.length==0">
            <td colspan="7" class="text-center text-secondary">No Activities</td>
          </tr>
          <tr *ngFor="let la of loginActivities; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ la.ip_address }}</td>
            <td>{{ la.device }} ({{ la.os }} - {{ la.os_version }})</td>
            <td>{{ la.app_channel }}</td>
            <td>
              <small class="badge"
                    [ngClass]="{
                    'bg-warning': la.status === loginStatuses.ATTEMPTED,
                    'bg-danger': la.status === loginStatuses.FAILED,
                    'bg-success': la.status === loginStatuses.SUCCESS}">
                {{ la.status | uppercase }}
              </small>
            </td>
            <td>
              <small>{{ la.created_at | date: 'medium' }}</small>
            </td>
          </tr>
        </table>
        <div class="text-center mb-1">
          <button mat-stroked-button *ngIf="laPaginator.next_page"
                  (click)="fetchLoginActivities(laPaginator.current_page + 1, laPaginator.page_size)">
            Load More Activities
          </button>
        </div>
      </mat-tab>
      <mat-tab label="User Activities" *ngIf="enableUA">
        <table class="table table-bordered">
          <tr><th>#</th><th>Type</th><th>Description</th><th>Device IP</th><th>Device</th><th>Time</th></tr>
          <tr *ngIf="userActivities.length==0">
            <td colspan="6" class="text-center text-secondary">No Activities</td>
          </tr>
          <tr *ngFor="let ua of userActivities; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ ua.type }}</td>
            <td><small>{{ ua.description }}</small></td>
            <td>{{ ua.ip_address }}</td>
            <td>{{ ua.device }}</td>
            <td><small>{{ ua.created_at | date: 'medium' }}</small></td>
          </tr>
        </table>
        <div class="text-center mb-1">
          <button mat-stroked-button *ngIf="uaPaginator.next_page"
                  (click)="fetchUserActivities(uaPaginator.current_page+1, uaPaginator.page_size)">
            Load More Activities
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCloseDialog()">Close</button>
  </div>
</ng-template>
