<ngx-spinner type="timer" size="medium" name="saveDialogSpinner" class="snippet-spinner">
  <p>Saving Courier Agent</p>
</ngx-spinner>
<div class="kbc-dialog-header">
  <h2 [innerHTML]="dialogTitle">New Courier Agent</h2>
  <div>
    <button mat-icon-button matDialogClose>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>

<div matDialogContent class="kbc-dialog-content">
  <form [formGroup]="form">
    <input autocomplete="false" name="hidden" type="text" style="display: none;">
    <div class="row">
      <div class="col-4">
        <div class="img-container">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" name="uploadingSpinner" size="default" [fullScreen]="false"
                       type="ball-clip-rotate" class="img-upload-spinner">
            <p>Uploading...</p>
          </ngx-spinner>
          <img class="img-fluid" [src]="logoImgFilePath">
          <div class="img-error-message">
          </div>
        </div>
        <div class="text-center">
          <input type="file" accept="image/x-png,image/gif,image/jpeg,image/pjpeg" style="display: none;" #fileInputEl
                 (change)="uploadFile(fileInputEl?.files?.item(0))">
          <input type="hidden" formControlName="courier_agent_logo">
          <button mat-stroked-button color="primary" (click)="fileInputEl.click()">
            <mat-icon>upload_file</mat-icon> Upload Image
          </button>
        </div>
      </div>
      <div class="col-8">
        <mat-form-field>
          <mat-label>Courier Agent Name</mat-label>
          <input matInput required maxlength="50" formControlName="courier_agent_name">
          <mat-error *ngIf="form.controls['courier_agent_name'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['courier_agent_name'].hasError('minlength')">
            Minimum 2 characters are <strong>required</strong>
            <br>
            Maximum 50 characters are <strong>allowed</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['courier_agent_name'].hasError('serverError')">
            {{ form.controls['courier_agent_name'].getError('serverError').join(",") | titlecase }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Courier Agent's Website</mat-label>
          <input matInput required formControlName="courier_agent_website">
          <mat-error *ngIf="form.controls['courier_agent_website'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['courier_agent_website'].hasError('url')">
            <strong>Invalid</strong> Website URL
          </mat-error>
          <mat-error *ngIf="form.controls['courier_agent_website'].hasError('serverError')">
            {{ form.controls['courier_agent_website'].getError('serverError').join(",") | titlecase }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Courier Tracking URL</mat-label>
          <textarea rows="2" matInput formControlName="courier_agent_tracking_url"></textarea>
          <mat-error *ngIf="form.controls['courier_agent_tracking_url'].hasError('url')">
            <strong>Invalid</strong> Tracking URL
          </mat-error>
          <mat-error *ngIf="form.controls['courier_agent_tracking_url'].hasError('serverError')">
            {{ form.controls['courier_agent_tracking_url'].getError('serverError').join(",") | titlecase }}
          </mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="is_active">
          &nbsp; Mark Active?
        </mat-checkbox>
        <hr>
        <div class="row">
          <div class="col">
            <small class="text-secondary img-upload-instruction">
              NOTE: Allowed category image resolution: 1024 x 1024 pixels and size: 1 MB
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br></div>

<mat-divider></mat-divider>
<div matDialogActions class="kbc-dialog-footer">
  <div class="row">
    <div class="col text-right">
      <button mat-flat-button (click)="onCloseDialog()">
        Close
      </button>
      <button mat-flat-button cdkfocusinitial color="primary" (click)="onSaveCourierAgent()">
        Save Courier Agent
      </button>
    </div>
  </div>
</div>
