<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1>{{ pageTitle }}</h1>
    </div>
    <div class="col-6 text-right"></div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div  class="col-2">
      <mat-card  class="mat-card mat-focus-indicator metrics-card">
        <div class="metrics-title">
          <span >New</span>
          <span>Orders</span>
        </div>
        <div class="metrics-number">{{ orderMetrics?.total_new_orders ?? -1 }}</div>
      </mat-card>
    </div>
    <div  class="col-2">
      <mat-card class="mat-card mat-focus-indicator metrics-card">
        <div class="metrics-title">
          <span>Confirmed</span>
          <span>Orders</span>
        </div>
        <div class="metrics-number">{{ orderMetrics?.total_accepted_orders ?? -1 }}</div>
      </mat-card>
    </div>
    <div  class="col-3">
      <mat-card  class="mat-card mat-focus-indicator metrics-card">
        <div class="metrics-title">
          <span>In-Transit</span>
          <span>Orders</span>
        </div>
        <div class="metrics-number">{{ orderMetrics?.total_in_transit_orders ?? -1 }}</div>
      </mat-card>
    </div>
    <div  class="col-2">
      <mat-card  class="mat-card mat-focus-indicator metrics-card">
        <div class="metrics-title">
          <span>Total</span><span>Orders</span>
        </div>
        <div class="metrics-number">{{ orderMetrics?.total_orders ?? -1 }}</div>
      </mat-card>
    </div>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <!-- Order Table -->
  <div class="row">

    <div class="col-4">
      <mat-form-field class="kbc-table-search-field">
        <mat-label>Search Orders(s)</mat-label>
        <!--        <input matInput (keyup)="onSearchTable(tableSearchInputEl.value)"-->
        <!--               placeholder="Ex. 321" #tableSearchInputEl>-->
        <!--        -->
        <input matInput [formControl]="tableSearchInputEl"
               placeholder="Ex. 321">
      </mat-form-field>
    </div>
    <div class="col-8">
      <mat-paginator color="primary" class="kbc-table-paginator"
                     [showFirstLastButtons]="true"
                     [length]="tablePaginatorParams?.records ?? 0"
                     [pageSize]="tablePaginatorParams?.page_size ?? appConfig.PAGINATION.DEFAULT_PAGE_SIZE"
                     [pageIndex]="tablePaginatorParams?.current_page ?? -1"
                     [pageSizeOptions]="appConfig.PAGINATION.PAGE_SIZE_OPTIONS"
                     (page)="onChangeTablePage($event)">
      </mat-paginator>
    </div>
  </div>

  <table mat-table [dataSource]="tableDataSource" class="kbc-object-table" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="order_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order # </th>
      <td mat-cell *matCellDef="let row"> {{row.order_number}} </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="has_prescription_slip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor's Slip </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.has_prescription_slip" class="badge bg-success">Yes</span>
        <span *ngIf="!row.has_prescription_slip" class="badge bg-danger">No</span>
      </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="order_item_count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # of Items </th>
      <td mat-cell *matCellDef="let row"> {{row.order_items.length}} </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="net_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Net Amount </th>
      <td mat-cell *matCellDef="let row"> {{ row.net_amount | currency }} </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.status == orderStatuses.PLACED" class="badge bg-danger">NEW</span>
        <span *ngIf="row.status == orderStatuses.CONFIRMED" class="badge bg-warning">CONFIRMED</span>
        <span *ngIf="row.status == orderStatuses.IN_TRANSIT" class="badge bg-warning">IN TRANSIT</span>

        <span *ngIf="row.status == orderStatuses.DENIED" class="badge bg-secondary">DENIED</span>
        <span *ngIf="row.status == orderStatuses.CANCELLED" class="badge bg-secondary">CANCELLED</span>
        <span *ngIf="row.status == orderStatuses.DELIVERED" class="badge bg-secondary">DELIVERED</span>
      </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="is_paid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid? </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.is_paid" class="badge bg-success">YES</span>
        <span *ngIf="!row.is_paid" class="badge bg-danger">NO</span>
      </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="paid_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid On </th>
      <td mat-cell *matCellDef="let row"> <small>{{ row.paid_at | date: 'medium' }}</small> </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Placed On </th>
      <td mat-cell *matCellDef="let row"> <small>{{ row.created_at | date: 'medium' }}</small> </td>
    </ng-container>

    <!-- Action Column -->
    <!--    <ng-container matColumnDef="action">-->
    <!--      <th mat-header-cell *matHeaderCellDef> </th>-->
    <!--      <td mat-cell *matCellDef="let row" style="text-align: right">-->
    <!--        <a mat-icon-button [routerLink]="[row.id]" color="primary">-->
    <!--          <mat-icon>info</mat-icon>-->
    <!--        </a>-->
    <!--      </td>-->
    <!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;" [routerLink]="[appPages.orders, row.id]"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="tableColumns.length" style="color: red; text-align: center">
        No Orders(s)
        {{ tableSearchTerm == '' ? '' : 'matching the search "'+ tableSearchTerm +'"'}}
      </td>
    </tr>
  </table>
</div>

