<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1>All Product Categories</h1>
    </div>
    <div class="col-6 text-right">
      <button mat-flat-button color="primary" (click)="onAddNewCategory()">
        <mat-icon>add</mat-icon>
        Add New Category
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>
  <br>

  <!-- Product Category Table -->
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th># of Products</th>
          <th>Is Active?</th>
          <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let category of productCategories; let i=index">
          <tr (click)="onViewProductCategory(category)">
            <td>
              <img class="category-thumbnail"
                   [src]="category.thumbnail_url ? category.thumbnail_url : defaultCategoryThumbnail">
            </td>
            <td>
              <b class="mat-text-primary">{{ category.name }}</b>
            </td>
            <td>
              {{ category.linked_products_count }}
            </td>
            <td>
              <span *ngIf="category.is_active" class="badge bg-success">YES</span>
              <span *ngIf="!category.is_active" class="badge bg-danger">NO</span>
            </td>
            <td>
              <small matTooltip="Last Updated: {{ category.updated_at | date: 'medium' }}">
                {{ category.created_at | date: 'medium' }}
              </small>
            </td>
          </tr>

          <tr *ngFor="let childCategory of category.child_categories" (click)="onViewProductCategory(childCategory)">
            <td>
              <img class="category-thumbnail"
                   [src]="childCategory.thumbnail_url ? childCategory.thumbnail_url : defaultCategoryThumbnail">
            </td>
            <td>
              <b>— {{ childCategory.name }} </b> <small>({{ category.name }})</small>
            </td>
            <td>
              {{ childCategory.linked_products_count }}
            </td>
            <td>
              <span *ngIf="category.is_active" class="badge bg-success">YES</span>
              <span *ngIf="!category.is_active" class="badge bg-danger">NO</span>
            </td>
            <td>
              <small matTooltip="Last Updated: {{ childCategory.updated_at | date: 'medium' }}">
                {{ childCategory.created_at | date: 'medium' }}
              </small>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
