<ngx-loading-bar color="#ff4081" [includeSpinner]="false" height="4px"></ngx-loading-bar>

<ngx-spinner type="ball-scale-pulse" size="medium" name="loadingSpinner" class="master-spinner">
  <p>Loading</p>
</ngx-spinner>
<ngx-spinner type="pacman" size="medium" name="deletingSpinner" class="master-spinner">
  <p>Deleting</p>
</ngx-spinner>
<ngx-spinner type="ball-scale-pulse" size="medium" name="savingSpinner" class="master-spinner">
  <p>Saving</p>
</ngx-spinner>
<!--<div *ngIf="!env.production" class="env-info">-->
<!--  Running in <b>{{ env.envName }}</b> | Server API: {{ env.apiBaseUrl }}-->
<!--</div>-->
<router-outlet></router-outlet>
