.img-container {
  padding: 5px;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;

  overflow: hidden;

  .img-upload-spinner p {
    color: #fff;
    margin-top: 50px
  }
}

.img-upload-instruction {
  font-size: 12px;
}
