
<ngx-spinner [fullScreen]="false" type="ball-scale-pulse" size="medium" name="userSpinner" class="snippet-spinner">
  <p>Changing Password</p>
</ngx-spinner>
<h2 mat-dialog-title>User: <small>{{ user.username }}</small></h2>
<div mat-dialog-content>
  <form action="" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Enter new password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" required minlength="8" formControlName="password">
      <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('minlength')">
        Password should be <b>8 characters</b> long
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('serverError')">
        {{ form.controls['password'].getError('serverError').join(",") | titlecase }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCloseDialog()">Close</button>
  <button mat-flat-button (click)="onChangePassword()" cdkFocusInitial color="primary">Change Password</button>
</div>
