.staff-table {
  width: 100%;
}

.filter-field {
  width: 100%;
}

.mat-paginator {
  background-color: transparent;
  color: #000;
}

table tr{
  cursor: pointer;
}
table tr:hover {
  background-color: #f3f3f3;
}
